<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>18월드</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/mdb.min.css')}}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

 
 


<body>

    <div class="container">
      <nav class="nav-box" style="z-index: 2000;">
        <div class="nav-box">
            <a class="nav-title" href="/">
            <strong>18WORLD</strong>
            </a>
            <a class="nav-item" href="#게시판" rel="nofollow" >게시판</a>
            {%if session%}
            <a class="nav-item" href="" rel="nofollow">마이페이지</a>
            <strong style="position:absolute; right:1%; color:black; margin-top:3px;">{{userid[0][0]}}님 환영합니다  |  <a class="logout-form" href="/logout">LOGOUT</a></strong>
            {%else%}
            <a href="/login">
              <button type="button" class="nav-login">로 그 인</button>
            </a>
            {%endif%}
        </div>
      </nav>
        <form id="form1" name="form1" method="post" action="${path}/board/insert.do" style="margin-top: 100px;;">
            <div class="input-group input-group-sm" role="group" style = "text-align:center; margin-left: auto; margin-right: auto; width: 75%;">
            <table class="table table-striped table-bordered" style="border-radius: 5px;">
                <thead>
                    <tr>
                        <h2><b>{{gesi[seq-1][1]|safe}}</b> </h2><p style="margin-left: 600px;">작성일: {{gesi[seq-1][3]}}</p>
                    </tr>
                </thead>
            <tread>
            <tr>
            <td><input type = "hidden" id = "member_bno" name = "member_bno" class="form-control" aria-describedby="basic-addon1" value = "${dto.member_bno }" aria-describedby="basic-addon1" >글번호 : {{seq}}</td>
            </tr>
             
             
            <tr>
                <td>
                    <img src="../static/images/{{gesi[seq-1][0]}}.jpeg" alt="{{seq}}.jpeg" width="500" height="500"> 
                    
                    <P style="margin-top: 10px; margin-left: 780px;">글쓴이: {{gesi[seq-1][4]|safe}}</P>
                    <a href="../static/images/{{gesi[seq-1][0]}}.jpeg" Download >사진 다운로드 </a> 

                  
                </td>
            </tr>
                                
            <br><br>
                                          
            <!-- placeholder은 제목을 입력할 수 있도록 도움말을 출력함 -->
            <tr>
            <div>
              <td>
                <div>
                  <p style="width: 950px; height: 110px; border: 0px solid black; background-color: white; border-radius: 4px; margin-top: 5px; overflow: auto; min-height: 1 00px;">
                  {{gesi[seq-1][2]|safe}}</p>
                </div>
              </td>
            </div>
            </tr>
            </tread>
            </table>
             
            </div>
            </div>
             
            </form>
             
             
             
            <!-- 마찬가지로 내용을 입력하도록 도움말을 출력함 -->
            <script>
            // ckeditor 적용
            //id가 content인 태그 (글의 내용을 입력하는 태그)를 ck에디터를 적용한다는 의미
            CKEDITOR.replace("content",{
                height: "300px"
            });
             
            CKEDITOR.replace("r_content",{
                height: "300px"
            });
            </script>
             
            <div style = "width:700px; text-align:center; margin-right: auto; margin-left: auto;">
            <!-- 수정, 삭제에 필요한 글번호를 hidden 태그에 저장한다. -->
                <input type = "hidden" name = "member_bno" value = "${dto.member_bno }">
                
                <!-- 본인만 수정, 삭제 버튼을 표시한다. -->
                {%if userid[0][0]==gesi[seq-1][4]%}
                <c:if test = "${sessionScope.user_id == dto.user_id or sessionScope.navername == dto.user_id or sessionScope.kakaonickname == dto.user_id or sessionScope.facebookname == dto.user_id}">
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <div style = "text-align:center;" >
                        <a href="/update/{{seq-1}}">
                        <button type = "submit" id = "btnUpdate" class="btn btn-secondary">수정</button>
                        </a>
                        <a href="/delete/{{seq-1}}">
                        <button type = "button" id = "btnDelete" class="btn btn-secondary">삭제</button>
                        </a>
                        </div></div>
                </c:if>
                {%else%}
                {%endif%}
                <!-- 글목록은 본인이 아니어도 확인 가능하게 한다. -->
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <div style = "text-align:center;" >
                  <a href="/gesipan">
                <button type = "button" id = "btnList" class="btn btn-secondary">목록</button></a>
            
    </div>
    

</body>
</html>